  body{background: url(../img/2.jpg) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
				display: inline-block;

  				vertical-align: middle;	
			}
			header>ul>li {
				
				padding-right: 30px;
				padding-left: 30px;
  				margin: 0px 10px 0px 0px;
			}

			header>ul>li>a {
			  color: #ddd;
			  text-decoration: none;
			}

			header>ul>li>a:hover {
			  color: #fff;
			}
			header {
				width:100%;
				margin: 0px;
			  	background: #834;
			  	padding: 5px;
			  	box-shadow: 0px 0px 1px #222;
 				background: #834;
 				font-size: 20px;
			}

			header * {
			  display: inline-block;
			  vertical-align: middle;
			}

			
			* {
			  box-sizing: border-box;
			  margin: 0px;
			  padding: 0px;
			  border: 0px;
			}
			#div1{
				margin-left: auto;
				vertical-align: middle;
				padding: 0px;
			}
#btn{
	border : solid 1px #9c6b2e;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #e3ddd1;
	padding : 1px 10px;
	background : #e6d19c;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6d19c), color-stop(100%,#8f5814));
	background : -moz-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : -webkit-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : -o-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : -ms-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d19c', endColorstr='#8f5814',GradientType=0 );

}
#div2{
	/*float: auto;
		margin: auto;*/
	text-align: center;
	height:auto;
	width:50%;
	opacity: 0.8;
	 margin-left: auto ;
  margin-right: auto ;
  margin: 10px;
  position: relative;
  left:350px;
	/*top: 50%;
	bottom: 50%;
	right: 50%;
	left:50%;*/
    border-radius: 25px;
	background-image:
    radial-gradient(
      #F1E6C1,
      #EBD27E
    );

}
#title1{
	background:url(http://fontmeme.com/harry-potter-font/);
background-image: url(http://fontmeme.com/embed.php?text=Diagon%20Alley&name=HogwartsWizard.ttf&size=100&style_color=0C0C66);
}

