

@font-face {
  font-family: 'Magdeburg';
  src: url('/css/fonts/Magdeburg.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Magdeburg';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEokAA4AAAAAdJQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAABJbAAAAD0A
AABOgtBPQGNtYXAAAEXAAAABGAAAAhg6oTJlY3Z0IAAAA5QAAAA6AAAAOlv6+99mcGdtAAADgAAA
ABQAAAAUgzPCT2dseWYAAAQUAAA/BgAAYyagIIcfaGRteAAARtgAAAKSAAAFSLcMQeVoZWFkAABJ
rAAAADYAAAA2vSdCtGhoZWEAAEnkAAAAIAAAACQGjALjaG10eAAARBwAAAETAAABQJDtBMNsb2Nh
AABDHAAAAP0AAAFEAA6f4m1heHAAAEoEAAAAIAAAACAA2wHYbmFtZQAAAUQAAAI7AAAEX5WZx51w
b3N0AABFMAAAAI8AAADCB/EHwXByZXAAAAPQAAAAQQAAAFzVI+AgeNqdUttO20AQHZxARR/6ULXv
A+LROAkOgbw1AdFK5SagEm+VgzfGwvFau3akfEn/oR/A7/RXejy7QZWQKrVeeX1298yZM+Mloo8b
Aflno6DnNaQPQehxQO+Czx536Evww+MuON893qRpZy2zRe87X6HgnmdRc5pvg12PA3oTfPK4Q3uB
9bgLzjePN2kn+OXxFm13pmBudLe9T4edT4edT4edT4edT4edT4fF50WSpWrWmIyXEQ+iPu/zia5W
Js8eax6Mx6OQT5NlnvJZxJdJUSgQbh9MXtXa5M2Cz3RZ83k+M4lZRcx3mo3Kclsrw0mZcqZqTvhB
L6pC1YrT3D6xnvMcUZatAmNvcMi15pskKxOjn/jaKGtDvr6a8mDYj+M45Elj67wM+e6e+ej4aDCM
6IISyiglRTNqyAAzLSnCPMDcx3cf7wlpqmiF8xyMR6rlfIwxohD4FCpLnKXAZxJ9iZ0CQ3mFW3qQ
6AqxWlBDC2FrKkXvHHsznCR4V6LBdIdTxloha04WPIUVg1NKrgzrWtYMfQ3FSnLWkjeVmCcgTXPM
c5/LAlswnMYeKjnEt5ZcN9KPUlxoib2W/BYjlNUVTaX6IboTy2j3J6in9ZcjNhTn91LBER3jbdnR
yw35+brrO7s3KmuKxMBAW2yDMmDh7yGTorYrKzdHZyapHnFXhlE/ivmPuAmU2pJXUva63Rpabasr
/EzX0qH87gjl8L/linsHo9549F+JYurRAe5Qr71JL6Zf5/8NeZHJ7gBAAQAsdkUgsAMlRSNhaBgj
aGBELf7uAAcBqQKoAA8AQAAjADIA/AFVAQwBsAGdAF0BNAFzWmcSBtK4ahj4KmGjDkDu0oA6J1Wi
hwABAA0AAHjac5Dk5+fj4+Xl4eHm5uLi5OTgYGZmYmJkZGBg7N3B+L/VNcOFINrMyuLGoL2ZnQ1I
bmRhAYpsZGMDkgA0TRTrAAAAeNrtvHeQHGl2J5ZfZn6ZWel9VmZ5m+W9667qqmzv0N1Aw7sBBsAA
GGBmgLEYsxizY3ZnZ3bWcKg1M1xyudzlmlkezUokdRJJ8e5IXfB0YlwEGaJ0iiODMnc60eiPi9Bx
dwBllukuYLCrUOgvRQjY2a7uKnTm997vvfd7Jh+CIgMEAf8ZFkUwhESOOVFAUY4PJXEIEAJCDIU4
iZAECVCAIQAgK8+V235k0Cv3xI+9/4Fy7+Oe9x9SrYD1q7+LIAi1fvXhX3d2T3Sk9u8i1N0/6Jys
SzEpVZcSA3Drzh//wz9g0Z/85QD9FoIi6t2fIC+jf4pQiIwsOzpQFEdFfCTB+XAGIpKAAoCPr1j2
rlQqlRD3v/GlcESZvpTiXapNkGm71a7rdqvZcF/omvqyGJUzfEiUM0J5kdFaii2FlYw5eOzqUx/y
R17e+ABxzy6iHCDQf4wISAQpIydcOVQqThVJ5rPpaMDURcZHIKWiiodDPMZhID2+K8M9e7kHSlN/
kMntpZHK9O1VvNsDhCvLdLMxurm6btz3PXnf94CQEnkWsoR3/6Gp14+KyRwHOVIIijL6GTNVFHCW
a3CUT7FN/d5vJTNdECHD13mKUm3TVTdio37kK+h/5Z6264hAFB0J8Q7IczggRicrj081USuBiNOH
Eb3DKPfd7Fcm9xQSZPTL+zcxuap49++QY+hpF2dzjjzEGYKgkMAhgUxdF5Q/Fj+euu4n4aQQmmq4
1z2mEW309L9+78XP/s4Xn0TA3e/f/bu7f3/v7ydQiODQ/fL/5PdjKukdSRfbhLYC2l/8nXdefO8v
fss9wd3/AH4XCOi/RDjkqBMCPO8ILO3CFccAwrEMTZEExBFq+mLTuBj/2bsyP31lfngym7TJtm3Y
Rps0yL8/5VfPLJx+RJ1zzEfOgr8pX7yU3y7hlw5tXwQ5V5783f8CeRm5/P9Si+37tPiymHRRxpEe
ylqeEiHjKtFHuSbjXnNose41KaTjCMDnc2jXDEli2lC9SyJ7JuqbvqDvHhPdM8yJSboeQXGdzCJa
d/1B0vUIBkilnDQSUDRIRyASgwiPA0DvuwRXleWPkT2Z0khq+nKpocmpJJGI22nbPWO7Va8ZYWB7
ANINvV5rt4Z+Ig0W32aoUD4qWy/neTEUy/9u0QyUBEpifBgMxQH/0mfpTiHTO/fmpXi+8oVfqz+8
urpZEQu2StLbp6556Jbu3kH+GjWRuIuNMEgknCQSj0oCiSOGqkgUEgxAjlVcQUnTHq13LzjG55CQ
xPQ5EntiixMJV3StOdCwCbLV1oihBwkBdXiYv27pxhzOu77bYnkx2q+CgkTTDEGyGnz5cNG3jQM8
xsf/VhAZ7UgVk7u4JKrSX/OSpnsn0O7+GOTQItJFLjtZ0Os5c0irHo+GKaQeDSJJWMRRyKuwOEMS
fiKTYwEBQHJ8mEHZ04WrkLIXFh5wpCTSmz5SzztSiiAbmuopZwTBtns0TxuJOOlqyD3Q+KfuqzDQ
1KFzrLnfuWdtgRyDhvoLaSFCcLmMnVMMSxF5ndVCXSlb7IhKKJ/jNtoKbdP6QU2UPogk4bqYBUIU
V7X1brHU6kfKzZCpV7h8MyZ3F9Z9/hOJbl1arOfoaNOTh3z3H8AFNIzMItecAuh2nR5SzIozeTvA
VGBbhkgUtnWybpJ1niSTRL3uy6MuPJl9kXjoFCdyGYllOoAxSHdaJt2hTDy4lkAi7nk4D65jiXgY
7oOJfDwAt1zxlMDoQ26YI3VwYbG/S+ZVG1OccDflcJLhi9OMKA58kqQF2bwghIIdn/9objYY617+
7YPNmmLWgBKamS+didg1npUoSmzEM5Uqp9mYFHXIElt4VvF3FhcGrm1ad38C3kCTSAXpIxecDBgM
HKfQ9McEogCrM9CqRRWsCtEcWUoTSJ8oaTEGAGuCdhfsY4i4QXMkjH3DtZDBtCQGQ0nEh1bqKt1w
ke+5jFZzKIgxUtq2HgF61bVhL8on4mm72Ui7ZuHJxoUI6Is4UCRRATzHSwYm03LUf94P68TJBsAP
oBivyBzn04nYFZNKJLKcelj5SA1TWFiWdR3qhgmZgJDw0QRdOkS/smHR5cv/EgtompqLEMrv0zWi
1ZpvsibuIiWMYOBxtIA0kYcdG7RaThupFGOBsk1X8JAGkRyZkAiMJwiTqKUogO37MM9uRl5siJGJ
3ez5s9a0WFojgLhQcOVgECPTGHqxsdWMJOP9xJXI8GMEaQzxAR5/4QBZkBpAKSRLxixm8YwRyhfS
si8UPiZrCXolxGZpJYzlugupxD8/8OKyg8o5Q50vxWP15vxK9MBx2baNKOkLb0AucLJUzruIkNxz
19xzZ9yTn3WSo5M3UhE5qymygECqCqkQpIokaxIs69oGNUHD2CrEaauYnJp64KlHXnx8ZoMHpPsy
PfEVRmuICNenk3v+QzdaoFZp5mfLmWLrmFgm0DmewllBSqgCL+gKFciHDW2FV+OqrhyXzH9fPXHu
5rnlc4cvJgW67YOsoQjyRqtajlPRoCKrcr38uebMTilrSLfpqnt6+e7HoIOGkCySdxljDBQKThGx
I36dpRE96sYrFsoElANkMikCENk/+jhu9e73kRGkMH3wwh5jHMWr1iRUuyclErXhMck9ELTIJuhw
8bzPTzEyY9GRJN1c9ydTebAUEWSOtxO2cQSnq2mUr89sqDPLgUiaYsRAMi/bJ46/Hlk0UjLPl1OW
0SvuoENO7DrBMhpFgkjOjQlnndQoJmQsOoQbDUgkIcHnIVIi1Q6BxQhVdXHNTyt45Ph6w8NOEWP+
QaFgCNfh0ca2PjyWi+Kmqtt7Pk83+sBopBO1iVA88IPyhUbrkAaTlkTymKbE80pmK7+xaAUD4UqS
W+Et/HwatVCO9gdLGb/2w+bzD7VCYSqrl9UeWsj4Q1dywTUATv1xOFeaiTRDdFTP/8fULsOG/GrV
LiUjyBDrCOi70si78eCcK4thPKiELVniJIHzFSDih0gDxjskrhJ4xgV7/D6wT0IAco/S4w8IAhPO
UgZe7CNCaH1i5cTEDFrtPvAMex/vxjAs9guto4pfkiBqYMsCENJBkaH9sbIUTMSqNtfnsoXMqWRa
0UUuHJX5GgifO/aoqaoWSFoUCaoH2pWskEg25+dizWtxJvbEBcPa3CmlAubC6gFkiHqXAYK4a6US
suCoQJYdBWGGORsiehkbN00E74l3HCJPH1W+hw1+khYG3RdZISRKE374HdWWQ14ygY64r3sXAuJ3
eaIGTNOxEJnn1GGmZuifoMD33AiBmNM3Yj6IB0/dzz4h3r+le5nx1J25f8Bh9D9x5RN2mWAERCJO
NKS6WYJfpXFEhyEehmTSb/pdUal7oho7hU/4QhWJTN9p5B6RufDYc/3e13rLIwL/bHKPQauT74Ti
zaUjcZZ57MQT3fFNdrZLM+utTrG+UUr4YyDbeHjVtXYJiYP/iD7phuIOsoo85ZTB2pqz3l6eywcs
v0Dg6Ew+oCI6Nz8P6RBsp2AlRjayZLFRVGUUVPYKA/tov/dA94C+gqxNH2ttzAa98D1y8h64PcwP
ffsATNHCoc1PnMXQRbhac5kxOfEP4AMlpxu+DVOTBN95AQbDFOXaiWnG5ufWT861Ty1+upM/f/XC
a+uHrm987Y8hHTY9EwFi9K4+K1bR+WYxko5Kx2ygpH6OIQLMUnu1UTt/9KHnygnYfe/SzZu3v7y5
ut28SIZa2URGzqFY0JVf+u6r2Az6e67GHkE+i3zLOQDeftv5nPbqhYcOrdUjGvbaq888VNewA/A8
gSNPwcdehJdZXODzeO9wIobv7ODHTtwgH71NvlkmZm4RjzpEhm+9iaWBAcCrE7LgsoWJYIe1F+//
e0MXWx7/vT/ZnAj8VeTtaYG/PfIyBNkHnmSrnjBHOZHiaSE9FreqeTYxdr2eB2rzYEg+JrmUPvw7
RKH3I89f7wXj8Ssw9uwjXdlhV7Hep91fSk5+CRYJyiQf7kSkaBeNWqVOgaWgL2hBULuy9Xyye3Zw
PJqJx+DThrQo1a4NOtVoKZ2mGYHp0SKJcZCDbZYVY2wZN8U7f/L2ufhq0FCDy3hHXrn84vn+Y8Lh
zd0Lgy46J4dwUiD8nKllNRK3WBVV7ojVjcJs8lCC88/ZmXBm62IrtRhRNUVV++S5aikVZd0ciuWw
BKvNNf60fsLB/Il3EqUoQOf62+Hcv/jvanhAAuVzn1mLG+GImoNS8vGVh18/0VO2OrWtVS+SBu8+
hzHoV1ym+HXkt5C/cp4AP/qR85+iP/jud37lF99+85WXbjx2ZNNplmPWD7/z7Q8/eO+1W6eOH5mL
ocij8GHwFdjagT+/C7+s4tlf/ibuMqwWNsCXF5Zu4A/XSfgbBAz6iVRvpks8MpjD+k8TZ4uETKXe
xSBgAXDT6dcm6OkNxiy8bLiJ56iANw7RPZeUu99PwDVO4UoPqF58wpRfQ340jawfeciCdnuo9Um4
8sA0hpD3n5vHENN0zhgGe6Ptoi5OujSl3dSN9DCp1cZxz/sg76aAI1prj3muMfq2DMa5/MRJkPvw
dP1I3BhyhWGK5PqBIfZI9xu76d1iexI50W/4nntutbTh85sZCgTjkXLlkXqxyWJiuRvkS+GqUzlZ
780vzMwXXiFqZSFgQIFh3LcTjOvJUY5XFMkurX8Kvr2WSecU0+Q4IczRQRbN2+GZnF3vnDjU7BLc
7vbmgW4rYnyri4VgSM8d6hjZ7Z5CcyQrsnoa4+KReHoX8/1g5XonbwVy/rBoPlKLBWmGITL0jMrn
S9V+NrGK1asJ7oc+N8NC0b9i48LCWZLhIRnwq26+m+ri72yQFrHykhlI2xzL8ZwoswGKDfj12dbs
6cX1VHYbcuuDbjm/0b5J+UxVQ09aK+VSoHrimHYK//ypBtGKRnWFifmNgx6G9bsvoGEXwwbyLHIL
+U3nMHj+eecF/60bj1/qpMMyvPXczYfOnDpyuNOopP0sTSLX8I0NCK/Ag70ujIo8ruhRvOR3yNwK
GVwkg8+QwSSRe5g4nnsOnDmMBQEo7QO1PHJx4p6j80olY4B+ApsPcHcl5PlpUD4/dHcVFwb7EV51
MWIM3dUIi3uhZQ+Z45KRC7xxgWU62xpysDqp6kN3ZuvVIeDr8RHSPCdKDlFp2OB/EXw+CgspGMmj
u9jqwsLXtufn6nMvH+A2l7ObHWcVt4x6Zyu1rBkik2O4GseLfDwSjT+yDHKqHAdYP2yvYXzw+X4+
GzOEZrH4mboIjisM/S8Um58T1kS1BncrBmVeMgu/N6iXn8oudaKBxUg0lMytdmb1RjFz9OhDgngp
c1tzEwU94BdipVyu2Vh+mpZNU4JQCpZyFWH+G3OVC1rKhyYNtaN6WlfvPot+Hf0NZBs5iOwiTzoV
cPiwcwRZnW8XlcWiqqRhrVmG2Vk32cGDCdLfJzdFwh8lqEPLmEuBF+9Jc8v7zKBXnqLCY6UtIoen
lXZ4woTJ9D0Ut63p9+SCo3gyyorGwvfsfr9ssu9hXOsHTfTrp7dexmebuVw0eai96xxsgFO7iYOD
nVa1CVXIZjatoBXfbppXsuuHZudOpN9PmS+hnH01vOwknz987OU7D4PXbl8/3U8nYv5AdjGsBm3M
ioWjmbV6Ko4d4M33UqFyHYtlEp/Oh85JyWztq8dPLa9rt+g2StOb26fQj/8cdZli4O476BPou8g5
5E3kB84ueOst5zPnn3vm/IkDS2n6ufPrtmmcheUyDOsQycIYhQu9Lj4gjh0RBZzFT17Db79BXlog
Z14jr1jE7hPEi08SL871mi9eAkfQXRTcnmINvd7IlKZ0YPRGNnUPU/tElfo28ta0Tt7a0wkxrDmV
QXpYjHQZWBk02iMW5r3h8gR7z04mublrO8362IUTpGd7er0yyvS8alfb1Y/3M2Vogvu0Y2x2o5/u
KR3d9XEojuHQzVowFFVNYPJpVXJjX5Ymoql4PCUogepxmqZsRYFUP7GeipnUFV6IUnJYNFCMBijm
JvblXL3733SzrbxdxBmMq7PJTW2xMVe+3G0OBn9xkAVPqjRLcJkWdoEHjAuQC7wRoGmZCytsLJBj
8kzYxgsgH4hlUslKNZGt+hZc4sSGDY6I56pynAhR8nt4hZIwKZYuiII/RJvOnX+TM9Qr9Ww+HCCx
ZlGXT5V7meRFFxVJ18++jn4DsZFXkF92NsGrrzqvIS89c/nCsfVSWnrh+ZuzjZqE3IaPHxvAx4t5
eK0DM9fgwuPwKQY3t/CHumT0Jk5GSTKkEcLuIeLUqdUVEMKAueddy0NHKo5KtaC8xx1HHb199/oJ
r2oir06D4dX9VPUebn6fdY60jw1d7ZBbtpojVOyjhbATe7+hC7x/Mf1LpinmHq00RnRTR19fqg2K
v19pu2wjnl1fpMvZZDlXGszM9v9tLyL4IE7AmSjKei0KWvXJrCVykutEiJlBNZEr5VO91VxgWV1o
9w90Vje6K00urhsce34mUZ1nA5EEiRbQl5sB5YQRaNiGWg3pSjRRaufSqxwlC5h853/yW+V/RDLJ
fLS8AwhBpn1+Ih0Oiz1xdnUTP6pbpWQ8IrGVWtAfSi3PJYIqKQapsBkofmEpfVzK11dmU1YYhkp5
cqZcGEXa59BPo/+zyxbPIM8hX3bmwa1bzvPojcePHdxYr9dshb55Y2Nh3g5dWYZdpQmvHYHdA3A1
D2NnIcrhgaefIgiJMC4Rp+b9BgFAYC/LLO9nDvt/PaU/gOWNdR5Abk3r/NZQ59peUyU+pfU8iE+H
zVZ9UrgKgy6YdgZurqG7TtpVfGL0Y2JSw3MBQzbSo7refiTVRqBwL/v4pbO3Kp16tDDIpysf5chG
JTnonzzP84qlzjrF7bCVnfcTAkEshm05HBJmC4ACM3XRL7KcLTBbTCzgXz5ziAYMoyT0ZuhKxUzN
ledXm2X0dd+dLz697TqJwmapHAn2okHz7KC0nE53pEv9cqM9sza4VnyScpP+2lGqPJt2Gu2kXOyr
OOmHwXkzGYO8xLl8Ty8sbmEh/5MHqSSdTBWzmrKmVN+kLFU8cHTT61nffQzj0F9EjiLHkevIO8gP
nUPg3XedzyNvfPqZq+dPbW2utbM6+9jJE9tr/azwAidvbnDyQehDoO/NN3CCgK90oXwJDnz4S1G8
epZceZvA7DRRKjaJ4PEFDAOgOh10xz7+fjMXP/4ppj6l+iry7rTq352q01WG1jhm5Pscf2jP7ZEN
7wNiHH+9f9FOTwIBQWqttjFuxLmabdrD1NLeL3a2lDFixrHCmPB9WyOGYQHjHjmWccpkdJXvdPNA
0ZWQ2UiVqpYvJh46dIBsVXPHmg91m82tXU1gn4DU44cYgkkEM3K8XyJhNByO3oEAIwg/acxSpq4a
gQCdH/ypFzso1sJwP8EarF8AiYhV3/qjo48OMhfs+FsxeC6ubCrl7cOmS801sxLsQ4pdT0WDJxu1
ZGQRJEL+8n9Z9h3+AmGTfKmlXFXrrEo226VS587zLPrsCRLQWQPLJAOOnc8l8nN3/qDRLhRrec4P
aUzAH/k+C1mFM0ncr6sHvZqbcfd11ES/6Rrjo8hXnTVw7ZpzPXjp6EqvLBHul0oZobglGro3ElyC
V1jcEHC/puAoNDJ46yB+pkA0ThCHZ4nkBnFhizjXOIdFAGjtwWSfBIxgYvT2qML9vGAMjRZybRoa
18aVanVYjGnYY0IWAbrXnGy4mnPt2H4gjZvgY889TAV/Dyd79c5RLBlCDsyrOIGHLQylXfeGUr6/
/OIGj5cylXYqu96cz5w1UadR+q8XZuZuLZ0yDcN0yLDBz9zWQ9nZjJEAcrSUzh2xl55PxtKgex4s
+fPoquVXL2ZUYVfukEEdkNDHYF9DFfqJtc9AWAgYVrjRtBQ7hKUD2uuzdvxMYzFZyGZaveR5QBHb
yWCmQfuEULSYWtgNUYei7R/8/3r7/6ze5LvvYOvoR26e+zrybWcLvPGG8ybyqeeuXr700PGj2/2i
5kOeenS3aIrIdc53Ga698jJcOwXXFmDgefgEg/tUHvfZeOvTBJUnqrNEonoI23RVh04pb9wxL+/1
zO9xzg+uuuwp8Y1pJb6xVzz1FLWX4LpC95zpMMzel0KNdWXvl0laU0mt67/bLdvLjV0Nenobve/+
zPtqTCgbOaRl9jB8u/lxBNSw9Xy+FjF0y8Z1so1HXM6VNIMg2qktauVCI5fIrLT6j3SjrcRi67SO
rreXizmyH6HERDSaeHoGNVtZEmV3ktWMboWDeTYcpxUUJSoPi26OGsi6GWsw9jVexVYE9uBL6aPE
Yq/X/7NMmW/yBR9LftefzKTr2YX5bqAY8PutTDNkpNMc1a7qYjdi+PFSkDUi+Wa5NNPufUCKORAO
ATK5mOe6wWq9HLatkJo9FekHKqzNs3W2XGnx+sE1X/wfwsUBEzVWdjLAY2fW3avoh+jnEQuZQy4g
7zh9cPGic6l/4UBMxg/0cwEKoX24oeJcEabrMCFyuLGCH4mQnfOkc5zIniIWsxvEwdbcoYMOAEf2
qZkHgd44SQPjFHlM16bBMMbAEeTiNAYuTg+X2e1memTJ9XFBVlfUSY1jSKnsUXo8UveQog+Ack/O
1dYn4bs1TMC84JuotdENlcQwGBIAgzICQQqVci6TDxYutnSOD3kR9Yl1tsCbOoVmN27O/uFidaNX
nr+1hG2uxLOxl45X2BrbPka/3PVV6qBFXXKc2GObqo8VWjxTYNpsRV6TLUoBm6mQVdIPNX6pZp6j
oJrXIrm0XSmuf0rq6CoPPv4nB68tVbth/9FI3r4WrV7H41gHyyEQ8d+9jiPoLyMFZNFlWK8jP0B+
1zkBPvrI+SHy3a8+f/XI9lKvakfoX/rqF9940Xsdjfh55CI8W8eLHby/gR9UIXUMPnUNP/ssmbxM
ng+QySeIk+8TH77xKwT/7oefBSsgj72cxEQAXpyqqw4Lqz1x3Mq/J6v6ZMEKeYBNv4h8NK3Pj/bz
7L329n7hM35f69fLr4YfblUbY6ueMCtjXM4f1+O9nrg65ZnHuXhVnRRQh3X5dHWvuj+a8bvHebTu
K94OvQOOxMu4yjIdjpOEG1hYE9VAMfmpWFIMUN12IvR4KOxjGXjnv/exOjMXiihGzA4Hg5Ej6eVc
Ns9LqtHMZPx3fvLaaTuVTRtqKCKIQTQbjW5lk68fXX1KhJfObJA5NXttl6mm+JOhwcFqrnJ6dbtR
YLZ5p5c6uvvII3NPhudmLI3T0S+aVpywVmfL/8MCx4voS1e3W4dPPxdraCkoxNx7ZyVJvvMroUAK
JpK7dn02nWuAYLGYT6ZK/2v2WLu92PMnMliLTS6USyJYO/OOYaWNXFTjg0FfQOJn6weP3txeFJcX
+jjr7985J84UY2tSIhwtL9gREU8Gg2aqtHkipgRMI8qZnt+I3n0KO4h+4Ob1M8inkI9c1n/7tvPy
7DM3r1955OLxTiYd1x67fnm2ltF24YESbK3A8zQewvBkEkceOYEfqM2RLzjkc0fJHTe3P0OsCxxh
SoRpPofNYjkIwPVJB24wajjvFfPLw3xvnPHfg8cHAfE6cnsaiLfHjSJt0gea1PCnUDDi9w1FB5Pu
3fBND7bKuF80BPLw9TTuyGnYGc1huNoH1RjaaBcvP7L4OwVnO0oRpbDdmFXxlV5mfbB+vfL+p9IZ
kgNoeqGqc1rYUTmmocxjp3P+E/5ZU8YBSr50wNzIBWTLlHXdFwvG5pOhl4/wACsWMtLKQu5UcyZ3
5HzihBlmJfDvun/bLR97Yr0QWEVpUTGj4UC6sFy5dNLK/DzIz9x5YWbr8YXdc0deBoEbJwZfqejo
bGYQTVgus998qmkEmgFJDkeZiCo6zZUjb2oYBzLJkpVpVAOhzbdscThlF7n7BPpb6L9CnkC+4Djg
xg3nJrKzMO/0uoWoRFw8GAtKC7152D553JsmWO57ndbwaYj4cH+W1HYJnCO0CrH+iIYD4N+brZqU
yz9Rzen9lAasH7kxreYbU1MH8fsMfTyV4dXn9oYuWnXDa+RNWjOtLvDeaFen00GbHPV6Rrxy+JMh
Txw3DXX0ty6df2PndvzAcvpUOdYllbXWYvWSHS31fl9YCxmKYeA8xpIHgKJIRzUrBfM2LKYyOciJ
qJwQG88upbR5YK4tHp+1Wxao2vZlZynrB7XXTx6/spVY9XN6Gqv65SPVvB2Vzm786QlYPzR/Odwa
4DQaCVta9VPFXL6RSucLhLgdKjmrLA8IDj2e9x2zIK6cOL69oQlWsmIxMYWmrVrrbNvlhubdS+jH
6PvI08i3kT90zoLvfMf5VeTb3/rK+1++dn57KybCb3/1mScePr/TKaV1mSICMLcJV07CuTpEWvBJ
v4rzETzBsxj9OfwX1snFM+RVjKjOEI8fIhbfI77+1qvEN79JvP74118E4Pw96t2LLpP4MmT7vfL9
rd+fYdvnke9MK/07Y9v2LFHXhiXdqpsHtFvaXibQ2m/qjkifp/zRW6Pq3bRVez01cjxUOzbqoUGP
h3mMPmgbwzwAGwa2SdHAfdG4J7zoVQ9f+8Ve17mgH29k1SSkXNADwBAoxjGxMCB8uBxkyQCm8lt2
kFnszYYU81oisRATCjYHuVo2nSc5Ej69e6Zt+hNyN5JZe+ZI9q2DKmeUXkhAp02CSCpcTGC4+6dV
qrYqNS1doCQqRVJLr7WvLQ7qXzu8lgM/ymyRhKRgMqdZLV6NzJJRtoCSWSkUxVtBnjN8SZLDdN5k
SJrmeurxSHKW2FhZip7Xgu1OQoh13SAEYmYwDbMha/cVJ5E0/CGuJSgfrhyjoBDRfU/c+SHux5rF
YFQJkGQi3SzHwyTlw2xw5GzL5acbFWNUCXgE/Rr6Z673+BTyltMdxhDkqX7KoJ+7ceX4yiAVNpA2
vjQPZ/MwdgheZPHgdRLdqpHweYISCeukBQGFABDbixbl8ahW754i0f1AGiMo9oDoAMfEcb+HNvDm
UoajAq4CvRHVkSsZVXtH1VzPLYwcyyShCANjqo07dBX6xFVM8g3vV9vecKz37RArrjAeie5K8oK0
uRGfKfRNljFiYZF6OPwHUWd7du4smspqMYaR5Oz8HK1dCQVybOfoDFmhsIBGxdLxC8GvXmBpf2D7
Qno7W6mlW1rJTNM0+Xf8jqgHo3y/KftVDRy+JOdjyU5QAwRQFTXQf6VqFj9/4MKhYxxlF0rLZ4kg
7CXsbAwTYrLypkslMgalbJjP17azOMQA5zt9OPO5Va2f6at+KRqUNCV95OETrfWZmhSKUFyTiVIU
W6NIyosR/rs3sE30G8jPIb/uHAbvv+/8PPKl209dOuSUc2HknTdeffqpQ1utMPIQPLkBP3MNHtHx
9GytijvcoI8vMpfwkwp5+QJ5xkesBon4ZeK4RcQfJ16Iv4JJ3uzpU1ONoY/v9yrjx3l6n6Sunwwi
TyHvT6Ph/VEiKoBJNXCcek6SivubA0ONt9pDdbdGlYQBOko4p3p63g+G9QbPw1SG/3yfNJCjOdDW
HhHd7/WPElSvE4hthpp0zi+JWoIiIZ64MvNRcqVRmKf5c2tit9ZY7C4eWzihLsnxFDULpSiRJTA3
VecBinN8NB+lOfTI4y91nktrBaDRTE5f7sfDnz3dDEs1/0uGPyoeWNthXngp4PMx0Yw2SEfkUED0
RZ5Mb6FHtreO+Hxs+iupwZV+sh8Nkos5U0vnnS07xPA+IUkWf4hahCADNSqm4lKa0k4a+TDdjuo7
qBbPcerXTnVeOq/GKoIlzHVri6c/7+cOymL7EAHJQnXlF3VIMzxtXbDqaTVJ1UPrSzpIehPJd19F
v4l+E/ks8gvO2nASCXn9xasP9bP6y8+de+j4sdWVTquoL0CkN/tpeBCBS9fhQREPP7OEN1TCWidu
xAm2Srx5gLhxgThlHcN8AITv6+XujbbvJ6r3zY3cV3wKP2AGyZvr9ZQ4mWd9YA9p4hjGfYHEqGk/
VbSym+lqfD8/arWHfXn363hcxPbeHv/qcft/WIceomU0II1+0w7OP4mKDEm+k16oLK611k83+Fah
sNVxDi85xlMKaur4TC4FtIAdJYMEGdJxCP1+klRP6pV8pprcnOuDrKLKgrAQT5pMlLYPpDM1LY9p
EEIaBZgMCQKraa73u7tVjIVqgKWelK32fNQoRhUxXdhoJ8NZHviVmfpsKdXALD1tiTG0rXHGtijY
spAFqNaoVldyUUMSUbUhCgIWK6pUBj2TaZSqPipCVV0QhlhVNXwUSZNH+ITt5h7a3Rvo913OYiCP
Il8cZsRf+pLzZf/nb184f/zgTj7iF8iXb1w81Gvn/RKDLFEzKnwch9dIeO0aPPM4PPkGnJ1J4NXn
8JW3yeAcuXGU3LpMBm2i6BAvPE1sbBRffAENArCy32IsT4Y3ph6AGI+pTd75vyErK8iXptHypUmF
w2Mj4xHh6pCaVEZ6nGoejLjrPhya6TmvOe0FpP3ngLxP1fdnP0bE1SWtI15rN9KT+XLvzS4YUpJx
Nh4Gk7QXvQVoCsMIqIoozkNIOmB39XDjZsQOJ+rFxd1osbT0tdlGOyAkg9ESlA8Y4WgCJY7MX1n6
uz4togyaT2eEQvF8PB2LV0R5N7BWib54dvs1bnet+lgt2Kh9I4oy8RCXZeVwQ9RDFMtyYN0X0gX/
WT97ft1QFh4SMkKHEvDvbdeL/QJtRRLzyYgcjVzIFDqJiBhQfYXUWf9JFPg1I8QSZwuJXRGk/Lqc
yadv26m5RdnE9HxU2w69VH4y7RDxhyuh5m2cDRhy5z0jUtV8LCrL+oh93MJOo28iiy7/+HlncZS9
XD7uVDKGQuIYcvnE8SOzBuImsGfhUgP2BDycwytFvHIJv7pDcg+T5ZPHiLU4wT02W7YYAK7uPxzS
G5dB9yalf+pE4x5Crj4gh0m5viRRAsNUcjx0ZkzIiD09teg6E8lOt5XW6KEjDzDS+MNAJe8pkbiB
pE0atelnbyYYwk4LW6IY7kLl4mn6pa33zg9O+ct1nXvaPLFxbn3Qlx43zZBkttx4IuKcwvNACaw1
GaXGmfqd357tH7MrrbghRmqRFAfI2VR0dfGh/lVcunz4MefN2/pRS72YZNYWsBvnlqI6ylA+SsrH
81sdO2YKvCwp8VfBqxhHffx/oiLHCWc+tXFp9fid/3ikvBGngiZoHF/fskJJfy4tBLUkoAl8vt0/
25u9NhCFDH2hVfi66xuUu1/C6uh3XN9wyPUNvzPxDZ975dZjZ89sr89bKvm5t9yXi00/h9BwV4bv
VmE+AbtdGH0d7gokjsKL+DMl0g6Rm31y9TTZPke224R99Qpx8+YJ4JW+V7H9SaBheaI3Pd81oR1T
TORnu4bFB7qGkQ177j09SV/UYQHLI4zEVKdyT69jEjmpek2yjdFMUXuUpbj/2iarP206oT7qZk7P
wI4KbWGAbioog5lkBFIA+zGzG34mEujxvcFuNhBPBdiIZejU7HwqeuvQ0jWUPrC+/OljzTflRdnl
E91iYqnTYX7ZZlB/NV9tVVs3A5Zu4OVs+uzS6X/nI2IBhe82JUcsJ01L9dNMEuyGlsUW3bFCz4SY
ARVYkZdZO7C8fBU0hB2QrgXEOfHwwqKgpK1IjLV8OG51a8uHXj616OOXBr3bzwVV9s7JQcO2w6HE
dUAxwVipnohKkhg3jXDm4BsM66MKWTnPZdLxNxPBhRW+rpBnmCddBCXvPov9U/RDJIg8h3x9WNn6
4APnw9BX37j17M3LM2UVffeNl29dPe2UQyp6Eh5mcaOA1wiI9GGsC5Nr8PwmPH+MfHGBfGqZfOoi
+dgXyRfPEjufJj772ecz3uTK1enJlfu4h/jxdKW19LPY6lXkg2nUfDAueTTa984ptYxxz2NY+5xw
yXGtfJi+jvQ90nZ6r+f1CXTp+4PO6fuqWoD8qWTHGLOdFvrvOxQM2XyI5oBP4hRQjVZ90b+gytlj
/Zn1emM5qlFS1Oefq1nrS2VlWb9Rzmz4unNHkply0K9kaqIxf+aN04PTFLWxcmitWajPfjH+eiJ2
51+9eeozpWx5sbVwcY2db+c2Z+dPHOmZ1ZJJ0wIk10GzOIOZIqMFbb28SBghFGV8gIqGlFCRzYCu
NVNNFn8lub69Gut0tsr+to+zJHbQLESTp+3P2QeX0NaBDFtmjy6tKv6oP5VQYix7ZvH0q2cc6Nvp
tqKB/u3kndh7V61gvhcPVCOGahdXs0uaIPAk6eu6cSZ69xqWQH8eeRJ5GvnAWQXPPOM8i9y88djF
k9sL9WwiJCHb9RAiwcMqXFuDxmHIsEW8exI/DckrCinwAzKwQe4epchzVaJ9pW2DCADdex/L7I0Z
yTQ3Ee99QOde+HSRZ6bh88wQPkPmGh+yS5IwPF0KYJzBtNqjltw4Ev3M8ajmsABCemlMe/jSuKe4
7pVW9HplAIwW1sQSMCrYUrTI9QFgldmguk241NJf0MsRJ59NMLFooZG7WkwX5ivdW8es5bn+TKu/
uzwI38QoPs34ahFOkQ1D6hL/qFptAW6hP7dSy2UydivNqTSPk1QLfUuOCax9Xeq3zPxpEiPDVKu2
qGcLx8FstVqrdoi1QDhfteTtSshK2K2ZbKKltVOxFZmg6UhUoO+E4yVAdivFZHghm20ptIbJMv7x
Hw6fK9PuBjAL/QB5Bvku8n3k950z4Ac/cD5CfvUbX3j6sd2DK+1GrRL6/ve+cOHYZtaPrMPFb+PP
VtKQ9uUKkJDxyHn80pv4V34Zf1YjA6fIG1cThLBNDN7+LPFzHxCvvUv8nPB99HvobXABRTBwaT/q
TJ60HBXCe/fOxOzNQpZ+5kTMJeQH0xj4wfQDenpogobpErcA9rPZ9riSujcwRxL3uYxR5606Pco+
xTZG4+w170NebNLuac2MKGqtdX/qtP9sht3GLDqSYoxdn8F2jlfPZKOsqUuGwoNWsdBcOwVBW2UY
yY/La8oyT5DCUqqeCqVjuhhrYYqmyFTKUrt9J7lmmRplHlg43WsSu9jZmLGuKZHfRjFfIxWU5jt9
q9HpVQdUlBKXJb5Tyy/UZtad1saJWV8G5wX+aQz9IJOvhmfOzv555zizIq6tlt00m5XTMobbAeNE
q/e/LzIYEfw11fU9QHNWVs5WLE6KGvm4GBNxxofOlAuLO0cDlmUVTUOqHKvlc3A3fo4X7rQ41SKJ
SlxshM1gyKgfICsgbuoJe1DLpwNZNNlBBz8e+Mg/X6RGjPbz6Avon7l+5nPI7zmnwTvvOO8ir716
andno1UIB+WXb15cq1XCAbPVh0vPQGQW7rB4ulTEX3t14wC+s42//uJBbOcY/sTztxrk/Okz5PVz
5NXPkIRIxFUiniOoS/HrGAH2FoZM1erHYOz1poq5vf0+Te+BUNzbLfLONBDf2Uul7/U1Q/dSbzc1
4/6mXXuYBA8fHHMhWbmXFBktuzUA2j4QSXucXY/ozh4t9ob1yAQxfk67qpPjUU30hUbs8LHw5vla
pjzXciSe99FqCPgIvYc5s8nTSye25pZXzsOggdKSfw63dLVoBTQ2KZNBNUtQOGCZbqnerZYozn/B
rM8MOJCJZFI/l1o9e93JlM4fTmDuh1QVAOjm1XwlGvofl3KBSFS7rQdKzUQEIwmfD7rvVaLRUDRz
sBcLOL6TnNIr+CKioTAxNajHU6zC4LRO2rbvJvXfYvHUTDboJ4CYypW5hMKHHl49U5WSuYXEUSBa
IQo32YQUUTWLJJtlbxvIo6j/7l/cs0WFmOzfQB68fwN5wP4NTJ9iE3aC+NlbVFBEQ1BwG/wWEkOq
yCEnBGo1p46U0rGQoeEuV0NykBZQwps12XvGfADKD1rJQCO16bupTT2El957CG9ce9kbyqvf87Sd
ly3dDvQiMe7RZNjU2c9ptI+n5DDLxQDhZ1gZfp7k80ldEhJAN7VbkV19FT8LNp1Cp+j/lKARAhpo
njfPshynggPv0dmtbq1j9XBCk72zsnd/DGz0u0gFmUcec0pgYcFZRJxi3mYS0C/C4lx3BnJFyFUh
0iTVKOliRy2jKkZNbWEYiNMrGHoTL49MbWFYmBbDwpQtDdn/hNeP1ywQWnzi5Y32KMVstfcfw624
RhF2AzWwKZ5nZ7Nxrh/I4mrkGNaUUBSVOFIKpXgfURqQs/FDc4JimDIPAAqj/ODfVvVIhKwlGT2D
Cb9n3ySvz5yVZZtgeJwhozJvolC+zf5GvDj7R5nlY/VMdC0fFAPshrdbxwWkH3yExJEtJzDePsKz
eJxHKGiiRDSEKjLYmwHvDYbR775nTc0HbB0Bw47g2KGMqvj3F1GAX+sKJVPiVDMlxlE7gAtMLESH
q60tVhdAHHwum58rJysza2IQ7aT88bBYOXJwfjXvPS1L3b0DKug33WvbyAH3zjMZJ4skw1GRVSHP
Q8qCiIhNLQ4Y7D9HjUwtDMhM33hmpMH9lL89nk8b0XpyOLK0B9/KzBmqVC1kM/2lVYqkS7lc0VH1
+KFgpOZT1J90X1w/vlNb6HYC23MPyRwr0qX52e76Ox1nOU1/pdfuWnKt7WGVc637b8CP3Dw6jmw7
wZEOIhZN0FCOoGEo+yGio66q5XuO4gFyWgnyA5SgDH1tvTVuo+xJnxw+Dx7yui1/8wveFJvsEwVV
C8o9VWt3T2qLSkrhEyETvHnp0Vgsr1EiFY+XuUoqt35mefOIaPONbDWDNkvIcLOPAM64mpgZPt0+
O+t0kUQUusxO5xHFB/N+GA5hZDM0g1UxjkFBYmrewENTbz9mTT1pnUBmp48zu99yHOvDawnup1nu
a2lY4vU8Teu+Z0daVXBmIBWNoA8nmYTMNVAMR2M8BSEruWQD9WcBjuFaKhLskARu8JyBfl7M5bmC
Vi0WIOnTWYxqJl4nD85JlcirKnrdRxiQFK0kEeynRYEnFIZVva1kd34MtsFvuz7nMPK0UwNHjjhH
kbWk2lUVFhJBiByAhSXYP7wA+wMdJ3bIjI8UTAJroBlvSVphyvNMdVWmShtT8ikgR6blc2TYUFPv
Z5HpOTAavdhrpNtT4XwiIldIXu5KqjrWsPfG6kcUEGzvLtiDhiYmLS5M4VYjlZ/Rk4DEccww0tDN
qWjKZ9asBYaiSSEKgYq2n0Fdzhc31EIy5WMuLT40sLVcTOQiki/mE+VUvZEPpboYZ5cYv5k5uFz1
J0LBTEyOE7JGcgTpJ/4k/z44T2F+S9PpTiVXuRxOSHp5uCvJBnX0l5At5HnHvbVtZwdZYQnHjpJN
DutxmoZjPii4BhOG+SVY6pA1i9xYIGryBlrDkgDY+x2sB8w97CdxYyHbyPa0kLfHg+yebNrTch6P
To6Q6fXDibS9X9fZ18bIp4xd/1D0oH5JpQ1SICg+xZjpdrMmsCFZdtGRUzGWJvzxLauYUCSa1WFc
F5YYuZhVQ5r0rc3/jacDBMZQhJv8MmbWLHy3+CdV0w4OXhVYTpZAA/dJvFD7o9r5pUsZS4lRIUJl
UJ/x7Wt9MRSQtYsHXcQKru/5K/R5N5SlkZNOHNi2k2FTpsFGTMrbQiLDWAxqOEnTAVTcDwN7u0im
0t69WGBPi8ze2/cWH5be9andb0MOOWymjHzq13HJRIHCSFyCf5QJ+v3zeNynUHOCqQVClI+W0XVB
NNCwgspx+Y4QiAeD+YvivPQUTa6QAYNqXDBzVcZ1p+jdf37nL5HfQJ9ASJfreDupPK5DFbNBCy0G
aQpH/FC2U5CLQ05zQUsIRBkVkH0Hu79lplf++AHdbPkBBEgZLVfQR21pccoQE2lb3xt/aI6ifasd
Br8oB4WIGBTqMvauVY/KYqRKCTpGhwYEYRG0YNlKHu0bJh+Q0tLdAJr7Xu7Ohy1LTgWEPIWGUOrP
8x/ll+kepECgraQ9X+yty3sM/VXkEPKSax+7u85h5NDOQr+ncMxmPGAwNNKGVQmu6SZMJR2YzfTw
aoOcWUKLWARMbR7xDGTsfyapxU/ZRhdHdqdFsbtHgkbepjlpzLv+xRhbx4gb2Y1hc2XMjkZG5PGC
PWZkjJ/I9PwQeCyqqiWJYaWqQQd5JlhMENAviyzHBpUggOFEK6iZQY0PdHGIc4U6XX2YJH0tW08p
RU15jMoHrEAzl8v6JCLqj8Y0vV2n6cJOGmqyrGTIaOGfQgV+OFNqcoKl5ywhS6df/GdqZN4wYmy6
zwupWFenh9HOtZi/dyWcQ0649pLPOwUkYEYCMkN6a+Y0DSZxMsMTmQwW2l/dM5gqOpbuYSARJD8t
vvw4au9NT7XGWZm8t8gnPcUr9b/nRZ8YUhQFZHldYHwkJvlVs95NhgklfFgtoM8mNcYU/SSGMXIr
G12785drIoXxli++XGGENzK/lLlU34245xLu/gQ9C76JbCNPORWws+McRLbmZioly4csV6IaiQgw
g8P1MMz5DcgtzKNdtInKIOmmC5X9gD4Y9CZ93fJPeTC0guxMn3hnkjx4LmHSiHOjuVeLH22rm6Bm
2LsbZpXDgtcAjKAxDFNdEAZ7T4210LN2YguTIkWW0KmElBDNSpKBGvRHIC1JQgRnq7TKWIZOMw2M
Ci+0eCOaC0K0ZTEsgRKGcKXSTfya/yAvxILLsSOzMSkuiAVC2upesc3Z0MpFWtRDJGEZZODwMW2J
lg1T1yDaE9l4N76ejObMjCD4arvGAZ71MMO6XPV98KHLCx5xMqNcpJRJc0g7E9IRhoKzMyqMSjAZ
75N4LYdariFm9mQ6fNSyN6o09j7pijIPSkL2yN5eVNo3veHmjnZj+MZ+obBiuLnH3j7AFnhfkTW6
IHJoOa2IaEBQRBHEXawBm9TaDGvKTCAQi4t8zjAhJUCBecyyImakGO8wFe5kniwmi1RbPCDTmiRL
OSBGNJ9p8TcTrHQ+bulWIARNP+s3X7UCNuebbEmy3TxEQaLIhmOBWMyJIxGGDkJKhYifEEQBnabz
kydQp9ZDUUhsWhSx+9Z/eRHZqH9i05ddbuRg7GIATafLSSYv+nuRRNIU2KVG/F+XD59Su+9Xi3ww
lMT68eYLlWOX+qXk7BNGbHjPd/4GnAY/dCHtIDedMpifdxaQQTNvp4IBxUfZAZeLSHMwPgMTcTfT
9Bt4pIhmUQ7Bp1zDkM73Juuueh8/qAMRQeanTza/52Tdk+UB4c1qT5Y8GZqryFHwmSx7HFnJOH2Z
JDPuyU/Hkm2gue6AoUN5HEUFXZABjOG6oO7EuYBRtGOBIzFd6ctGNEQxKApCM+G/XVzZ0U3llU8r
+UzvIeJgFecElSdEKiAksta1ZyzWSG7wp2KbyuLM52srR/mUFsgFKi2dCYWGW6Du/B+gB34dCbge
9JgTG3lQOyIgLnmFXAKqQZ6DOGqhEuCQvT1HnpBGw0WeJ0Wm1xx90n+OnktSvPTA/SvZo22HI7JL
NvbKXJ5UQM+AFLQgTfM43Ulm5wJSox/rlbNqRFckJaIWAbhkVPEd/M4zBI2TsoGDy75ayThXOl4I
xjJJZ0d3ZiupfLWjqgmXQrhMCgE74NtIGbnk2KNdwOVk0GJpWM7aQYVFKBL6DYws5O00GvXSuuDe
Gb0y3tRuz/vLLsEH7QXWhylRCIw6BOnh6q/9PZ8jftVq171J/bruBtJtUA+kzZRM46Vw0zB8dVIQ
1CQfZPUYtCSBD/RFTGUFlQbvW1WzpfznajS+LonQB3he4X8zZtCyHi6QVNgyY12eloFCe5Zw9yfg
afA9lzAfGlqCxzwyO6tOXPIRm51YVEIWYYaB/nYT7/aJ2oZG8DOgBNJoGN3vr3icYzRM2Ptk+Nhr
pnySboDxVOgwOdf3Stn7OeCwB+9+Hdc5x734pkGOZ9BHo8aJ8Y5UN6yCJZoFWtFMigt2iMoTMBYK
FOqzVrGqMTIggwyQYDmsz8QWMUuMCnEC+BvWuVionKXSpElilNDHYg74MhQVXLFlvReqisAvcnOF
dFYmCCYiopBDE/x/qAcVRQijpYCfV1Hex5lmtgW64WgaUICSpaoXPRSvPoB+GikiDzlJUCo5ZaSY
Y+lo0C8KBMLBZAZSSeij3G/RqS1qLprA+LmgaTjtbVQrTcuxtLceLJ1oNSU7TdqNerVVHy9kIieV
2tE873Cc8m/4FTqgaxodjgO/gfKYLPm38yyt8BlfNICiDI0miCfFh2EiFOYB7yMoKAOMnp+f8+cj
ASfJ+ICO43Tz5KNpMQHGlaiPXMvpIhddyxluDJyN6TJEXI2kLJ1FsrDSgWIIigU/Snl1Sn3fcqbI
1Sc35ekPXiHrmkp8eGRyupM2mVr2wqLmucw+GCUpITBaM+F6zo9ydoWj6Md9KRhScZHNQI7y6flt
DOP8/DKEaAiWCVqzCM11ZXhAfKLe5teIw1wKNwFNF6s/YCkqttB5Vt5QLIU1mOIceNJiNLFO48Eo
TO4yhBTMEP4AN4mMa65t6UgMOexEQDzuJJCowtIsEQlDyoBIgNQ0VPTCIztVQgDjZsC02lkkPi2J
+BRbH8UPT91eFXJSmPRO3QJrnfgJ7UAwRaogrODJINdbq8wJiiaVut1/szWbbMQTZud3WJpHC0GN
6IXn8oXvxdpLq9Jvl233BCn3GDL4lpuLLbpeMQOWlpxlxHHDS3Q2FtRpFvZrEFFhuCWSiUo2gZre
guDYvnJ7+5sHHjRZvDR9pKXpjsYeY4xPaOWoLGuPE89Jb+zebYjaqBUhn+KzCYmIqOGgjw/GZC5M
lCAZsLSwpaZNCfU7VcGQKfFoZHaVlwNhkUVRNhg09H94cYGRJRHPWsC8XKmu77Sbx1guL2EtSr/4
bFiq5PkY1rmWi5qRZdD9Qb67s1IraskcT0e4cgEBd3+MYOCrriUcQ95wOuD4cecEcnhreb5drRRy
qaChcTSBLHdsg0MGfUhVKyUo4+R6j6gf3FlHbRA19wsdPU9842KS96L307Zy7VU8jk9L8/jU4x2u
bLz5bHWvODRM5EakcriFY1j196Q7mnpxXchwA3OzNfzQVDAaTcqBryaDaWD6dYZWbBE3JdavFMNB
TovEZNJgfSqngjk/vRpB8SCWIHig0hGoog2Rk0je0nTVUtRYVoSMTDAU+GJCFgT/IAcAwYtJQCeV
LMVoiUWmbrGROINGiJC/LBcyPsKVFU2IOuEzDoZRQcb9YcsiYqbZCwkRmvQ8rnG3BjbAB0hrWNFs
t50OUq+Wi0HWV7bjAtT83gbnXFbDCamJJgEo79UNwN5AwCdDVxlpT4u2vQ/UYdRqtg19tNN6RNsn
cByly25AL4M9Mgc2Ynw5FpM1niFmgoq0ySthTRZ1pgKSsikIpKAG7ORSdek3DqyEVmsBOVFUIMGX
LCNU+yfN0sy204o8rckVOYNL1jOVuuQTky3ixClueTjXtQAA+BWkg8whm8gNpwgOHHC2EKc306gl
onx3ptWopFS2D5EQLC7h1BqBS4RpBPAsClJTc3n71bWftsk+hRyYlsiBUQ1zqj453FseL4PhdM2o
guJF6Yqtt6cKBB4Svd3sCaNlNKZHOV1uFStU3CDFN90U2E9KtAAohuIEYj6jMymG1rIxNaoruVDY
TVICAb30m4Kqwidjtq6IquUXGbE2s9gpNgdpfzPoIwFDuY4JoMtGT0NBMmQR2WQyuiBYgIc8bTz3
aziB/WNnUWgUK9FSZ6WJ/F86skeiAAB42lXPOUscUBTF8Z/GZdRxizK4oCLigruICiIShgEnbnHB
fScpxErESsSPICKWltZilSK1WFikDMHajxAsxRs7H/x5vHve4ZzL+zn9SE5B8I/cg+CRT93BL/J6
g3PysxQUU1hHopOiDMVjlIySjFlpB2X9wU/K56hIUBmeqh+kQqtppPaE+gsaLmk6pPmGlk1aq2kP
b8dvuvbpCa0v3gO3DF4x9IeRZ0ajU0QaT/Ml5ukjMq9MRIeJO7LXfH1g8oypyJ6ODjOfmT3m2z1z
oc+Hb+GFxchaij2WZ1nJZXWYtRTrSTaiw2bssBX3dvzZWWf3ib2/fG/7zxuvhi5jAAAAeNo9kDtL
A1EQhb+Zm0LwkWx2N9lEiVtEE0ihoGC6LSIWFmIlBAtRsRBSiFin0kKCIFZWYidYiKSwErS1tfYH
WAo+Ci3WiYUXDvfMmXuHj5EPEuxI41+BeOToU6Nrdze9lnr6afnYX28Nn3c8SQjlgLxcUJYeFWlZ
tmx1Qk5WzTfMD/7sgGbw3AbTrsaEzlPQGwI9ZlyvqOo5BRfj6yzFgdw6eb2jnImI3B6xPjPpCpT0
1nrbRPpAxRS6fauX8N0rVdcidjOEekqRfrorZ8Y2x4jUjaXJEN+M8mXsW6ZFPN7I8pg+yRElXoyl
Q1Yu7X3TuDumFWNvMyyH5sGXe5vTxtMFpuQk/ZFNihJYbvv6BeAJMBcAeNptzssyggEAQOFPtEFj
TBdKLBDKrYuisJJ0c4tKpSfplXpH/dPamTnLM3OELPmbifmPj8AVIavWhK3bsCliy7ZoUMQl7NiV
lLInbd+BQ0eOZZw4dSYr59yFS1eu5RUUldwoq7h1p6rm3oNHT+qeNbxoamnr6Hr15j14+NTz5Vvf
wNCPkbGJX1PzBaU4EbIAeNqdkMdSQkEQRc8TEAzknHOUjOScM+5dufQb/BYXfqR7bB5sXFiW3qma
nunpcKYBDaqUBIp6CIhHUe8o1/wqjVanWr3hhlvuuDeazBarze5wutzi9nh9/kAwFI5EY/FEMpXO
ZHMP+UKxVK5Ua+cC9Uaz1e50e/3BcDSeTGfzxXK13mx3+wN/0k+sj/xbT2ej5VN2GxaZzBUxcuQp
0uWZNz6OR3mLkFZ9ZYa8XHzfpUi+S2Z7WlVeeZcYjVTWCbceA5fhYcSEWTpZJd6OA6dkufHgxYdf
coOECEu/qHDESZAkJb0zZIXqQRgKQlESjop0qcnf6zRo0qJNR4h79BkI44gxE6bMmLNgyYo1G7bs
2HM4ffsLGLkmUXjaVdQJdiQhCAZg06WAilst3cm95v5nmR+qk8n4XnpL8QkqhhBmCOFPzils2/Z4
fHxs9r5tMW73SMKJMDgloSzEJEQiWZge0WPsLz7oDsBvKQIIoRQ3tx8zfpsxucMMKXPJLJyZsxQR
dtOUt4mv9kIWG0JV+mXiHzHF6G6knEkYDEzRIs6VXHN+m1YSTE6bR6T4NrVRsB8emNHeYd5ojFQK
C0ZhLtJAmVmLliKPdE+LuLSxBySY+LTFEFpnM+OPmb7NxLWg1Jxh1txr9hRrbbXmt5nclGS1JVTO
FhtCH79NVIFtSfdDrBWlQhJUPrR4iqpdYdJdbYK7ZbJEUDm20s0xxc3tNo0kfyImaSoFQ0Vama1q
QYqtjaZlo3taJEowLcCyzLc5lwQjYDqVsNXJB0lvuRYwGZWvrq32WnubrZlp05KZseDIIZXIhN2M
KYS1ZzPTbZKZ/gg+59GLVq29oPJ9aNOhOvrqvWJf3MQx4lj9GHMUKpZPCPvxvwmSyeunPAeWDwto
5jFbV6Q4xz6GbmzT/pioDZ3xYx5nCUbAdIpwfMgHlzlqUyxgrbOdqw8re81jwhSfFkTkqHdroO2q
dV4I53WbOBnehm7eE5c1sXxYwIrVvPY+rex9nWu2+M8UN9FtKZtJMK9nNZO+TbZ+9vq57ks7xlKs
5nMfq6PsY7/21c3EkiK5KKlZ27qpt/l81WAETJ8MZmYfUo8dWzLGrnqM1zHXOMx87nuP9gzZJRNz
6mZKpiJqN0QIr0/9bRJnvy1sYj0PbAk2pbVzfp5rn+ec5/E6jnGbuA3ITG9hM9ttfn65yd+mwLQm
x9Wh19EnxtHatb6udaxrrev8PM+JM+kmGienYS0Ms0oviAvhL2aLKM0AAHjaY2BgdGWcwMDKwMi0
h6mLgYGhH0IzHmUwYmQG8hlYGLADx5ySYgYHBgWGBcwK/x4wMDArMCoAAG+iCdoAAAAAAQAAAAEA
AIrHQCdfDzz1AAAD6P9//0OtfPloADANwK18+Wj/af7gBAADIAAAAAMAAgABAAAAAHjaY2BkYGBW
+PeAgYFF4n/m/1ksDAxAERQQAACC/wV1AAEAAABQALQABQAAAAAAAgAIAEAACgAAAHIA4QABAAE=) format('woff'), url('Magdeburg.ttf')  format('truetype'), url('Magdeburg.svg#Magdeburg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#icon{
	width :50px;
	height:50px; 
	border-radius: 50%;
	position: center;
  top: 4.7em;
}
#text{
	font-weight: 100;
}
#icon2{
	/*width :100px;
	height:100px; */
	 margin-left: 45%;
  margin-right: 45%;

/*	position: relative;
*//*  top: 4.7em;	
*/    border-radius:50%;
    border: 20px;
    border-style:double; 
    border-color:#CFB53B;
/*    padding: 20px; 
*/    width: 150px;
    height: 200px; 
}
#font{
	color:#010D5C; 
	font-family: 'Magdeburg';
	font-size: 200%;
}


#profile{
	text-align: center;
	color:#CFB53B;
	height:auto;
	width:100%;
	opacity: 0.8;
	 margin-left: auto ;
  margin-right: auto ;
    border-radius: 25px;
	 background-image:
    radial-gradient(
      #2E2B2B,
      #040000
    );
font-size:400%;
font-family: 'Magdeburg';
background-color:#EBD27E; 
}
body
{
	background: url(../img/2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
        display: inline-block;

          vertical-align: middle; 
      }
      header>ul>li {
        
        padding-right: 30px;
        padding-left: 30px;
          margin: 0px 10px 0px 0px;
      }

      header>ul>li>a {
        color: #ddd;
        text-decoration: none;
      }

      header>ul>li>a:hover {
        color: #fff;
      }
      header {
        width:100%;
        margin: 0px;
          background: #834;
          padding: 5px;
          box-shadow: 0px 0px 1px #222;
        background: #834;
        font-size: 20px;
      }

      header * {
        display: inline-block;
        vertical-align: middle;
      }

      
      * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px;
      }
      #div1{
        margin-left: auto;
        vertical-align: middle;
        padding: 0px;
      }
#space{
	width:100%;
	height: 10%;
}
#button {
			  font-family: 'Magdeburg';
font-size: 200px;
  border : solid 1px #9c6b2e;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #e3ddd1;
	padding : 1px 10px;
	background : #e6d19c;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6d19c), color-stop(100%,#8f5814));
	background : -moz-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : -webkit-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : -o-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : -ms-linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	background : linear-gradient(top, #e6d19c 0%, #8f5814 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d19c', endColorstr='#8f5814',GradientType=0 );
}
table{
	text-align: center;
  font-size: 20px;
  font-variant: small-caps; 
  line-height: 30px;

}
#div2
{
  text-align: center;
	height:auto;
	width:100%;
	opacity: 0.8;
  
	 margin-left: auto ;
  margin-right: auto ;
    border-radius: 25px;
	background-image:
    radial-gradient(
      #F1E6C1,
      #EBD27E
    );
}
