    form {
        color: black;
        padding: 20px;
        vertical-align: 50px;
        word-spacing: 5px;
        font-size: 18px;
        font-variant: small-caps;
      }

      #Welcome{
        color: white;
      }

      a:hover {
       color: #FF00FF;
      }

      a:active {
        color: #0000FF;
      }
      input{
        box-shadow: 10px;
        color: black;
        opacity: 1;
      }
      p{
        font: 12px;
        color: red;
      }
      .defaultTextBox {
        border: 1px solid #cdcdcd;
        width: 200px;
        border-radius: 5px;
        height: 30px;
      }
      input[type=submit] {
        background-color: rgb(50,50,50);
        width: 80px;
        height: 30px;
        color: white;
        text-align: center;
        vertical-align: center;
        border-radius: 5px;
        position: relative;
        left: 250px;
        top: 10px;
        box-shadow: 20px 20px 20px #555555 inset;
      }
      #login,#register {
         background-color: rgba(255,255,255,0.8);
          width: 380px;
        box-shadow: 20px 20px 20px #aaaaaa inset;
        min-height: 10px;
        text-align: left;
        position: relative;
        height: auto;
        left: 800px;
        background-color: rgba(255,255,255,0.8);
        line-height: 30px;
        margin: 50px;
        border-radius: 10px;
        font-style: solid;
        padding: 1px;
        
      }
      
     
      #login:hover,#register:hover{
        background-color: rgba(255,255,255,1);
        box-shadow: 50px 50px 50px #cccccc inset;
      }

      h3{
        margin-top: 10px;
        margin-bottom: 10px;
        color: black;
        font-family: "Times New Roman", Times, serif;
        font-variant: small-caps;
      }
      
       #welcome_text, #add{
        max-width: 600px;
        position: absolute;
        color: white;
        padding: 50px;
      }

      #welcome_text{
        font-size: 60px;
      }
      #add{
        top: 330px;
        font-size: 20px;
        text-align: center;
      }
      header{
        display: inline-block;

          vertical-align: middle; 
      }
      header>ul>li {
        
        padding-right: 30px;
        padding-left: 30px;
          margin: 0px 10px 0px 0px;
      }

      header>ul>li>a {
        color: #ddd;
        text-decoration: none;
      }

      header>ul>li>a:hover {
        color: #fff;
      }
      header {
        width:100%;
        margin: 0px;
          background: #834;
          padding: 5px;
          box-shadow: 0px 0px 1px #222;
        background: #834;
        font-size: 20px;
      }

      header * {
        display: inline-block;
        vertical-align: middle;
      }

      
      * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: 0px;
      }
      #div1{
        margin-left: auto;
        vertical-align: middle;
        padding: 0px;
      }
