* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  height: 100%;
}

body {
  background: url(../img/bg/1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

header {
  background: #834;
  width: 100%;
}

#logo {
  background: #411;
  color: #fff;
  display: inline-block;
  line-height: 1.5em;
  margin-right: 30px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.fifth {
  min-width: 240px;
  width: 20%;
}

a {
  text-decoration: none;
  vertical-align: middle;
}

.darkbutton {
  display: inline-block;
  background: #834;
  color: #fff;
  border-radius: 2px;
  padding: 10px;
}

.navlink {
  color: #ccc;
  display: inline-block;
  line-height: 1.5em;
  margin-right: 30px;
  padding: 10px;
}

.navlink:hover {
  color: #fff;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #888;
  color: #444;
  margin-bottom: 10px;
  padding: 10px;
}

#container {
  height: 90%;
  padding: 10px;
  position: relative;
}

#title {
  font-weight: thicker;
  font-size: 2em;
  text-align: center;
}

.wide {
  width: 70%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}